<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computacaomovel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputacaoMovel">
        <activity
            android:name=".ExpenseHistory"
            android:exported="false" />
        <activity
            android:name=".StudyHistory"
            android:exported="false" />
        <activity
            android:name=".AddStudy"
            android:exported="false" />
        <activity
            android:name=".AddExpense"
            android:exported="false" />
        <activity
            android:name=".ListExpense"
            android:exported="false" />
        <activity
            android:name=".ListStudy"
            android:exported="false" />
        <activity
            android:name=".CreateStudy"
            android:exported="false" />
        <activity
            android:name=".CreateExpense"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="false" />
        <activity
            android:name=".FormCreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".PushNotification"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>